@font-face {
    font-family: caveat;
    src: url(../../assets/fonts/Caveat/static/Caveat-Regular.ttf);
}
@font-face {
    font-family: montserrat_alternates;
    src: url(../../assets/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../../assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: amatic_sc;
    src: url(../../assets/fonts/Amatic_SC/AmaticSC-Regular.ttf);
}
@font-face {
    font-family: source_code_pro;
    src: url(../../assets/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf);
}