// Colors
$clr1: #5352ed;
$clr2: #70a1ff;
$clr3: #dfe4ea;
$clr4: #2f3542; 
$clr5: #574f7d;
$clr6: #7bed9f;
$clr7: #fff;


// Breakpoints editor status
$editor-mobile-breakpoint: 555px;
$editor-narrow-breakpoint: 815px;
$editor-normal-breakpoint: 1055px;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;