.home {
    max-width: 1440px;
    padding: 0px 20px;
    h1 {
        font-size: 140px;
        color: $clr1;
    }
    h2 {
        font-size: 90px;
        color: $clr1;
    }
    .home-hero {
        border: 0.5px solid gray;
        width: 100%;
        border-radius: 5px;
        margin-top: 8px;
        padding: 16px;
        background-color: #c5c5c5;
        background-image: url(../../assets/img/HERO.jpg);
        background-size: cover;
    }
    .btn-start {
        background-color: rgba(135, 206, 250, 0.548);
        color: $clr5;
        padding: 30px 10px;
        border-radius: 50px;
    }
    a {
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
}
