header {
    background: rgb(216,255,255);
    // background: linear-gradient(0deg, rgba(216,255,255,0) 0%, rgba(188,207,255,1) 91%);
    width: 100%;
    .app-header {
        max-width: 1440px;
        padding: 0px 20px;
        margin: 0 auto;
        height: 70px;
        border-bottom: 1px solid lightgray ;
        .app-logo {
            width: 250px;
        } 
        nav a {
            color: #3f7aae;
            font-weight: bold;
            margin-left: 30px;
            transition: .3s;
            padding: 10px 10px 5px;
            border-radius: 15px 15px 0px 0px; 
            &:hover {
                background-color: #87bae791;
            }
        }
    }
}