header {
    background: $clr7;
    width: 100%;
    .app-header {
        padding: 0px 20px;
        margin: 0 auto;
        height: 45px;
        box-shadow: 2px 0 4px 0;
        margin-bottom: 1px;
        .app-logo {
            width: 190px;
        } 
        nav a {
            color: #3f7aae;
            font-weight: bold;
            margin-left: 30px;
            transition: .3s;
            padding: 10px 10px 5px; 
            &:hover {
                background-color: #87bae791;
            }
        }
    }
}