.user-msg {
    background-color: rgba(153, 233, 153, 0.726);
    position: fixed;
    top: 25px;
    left: 50%;
    padding: rem(10px);
    border: 1px solid rgb(113, 245, 113);
    border-radius: 2rem;
}
