.wap-section {
    position: relative;
    display: flex;
    >.wap-el-btn-del{
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        z-index: 1;
        @include get-color-yiq(rgb(255, 0, 0));
        background-color: rgba(255, 0, 0, 0.281);
        border: none;
        width: 30px;
        display: none;
        transition: .3s;
        border-radius: 10px;
    }
    &:hover {
        outline: 2px dashed rgb(255, 37, 37);
        z-index: 1;
        .wap-el-btn-del{
            display: block;
            &:hover {
                background-color:  rgba(255, 0, 0, 0.7);
            }
        }
    }
    
}

.wap-el {
    position: relative;
    display: flex;
    :first-child{
        width: 100%;
    }
    >.wap-el-btn-del{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        @include get-color-yiq(rgb(255, 0, 0));
        background-color: rgba(255, 0, 0, 0.281);
        border: none;
        width: 30px;
        display: none;
        transition: .3s;
        border-radius: 10px;
    }
    &:hover {
        outline: 2px dashed rgb(0, 255, 0);
        z-index: 1;
        .wap-el-btn-del{
            display: block;
            &:hover {
                background-color: rgba(255, 0, 0, 0.7);
        }
    }
    }
}