.wap-btn { 
    min-height: 45px;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.wap-card {
    display: flex;
}

nav.wap-section .wap-el:hover {
    transition: 0.3;
    background-color: rgba(255, 255, 255, 0.082);
}