.wap-btn { 
    min-height: 45px;
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.wap-card {
    display: flex;
}

nav.wap-section .wap-el {
    transition: .3s;
    &:hover{
        background-color: rgba(255, 255, 255, 0.082);
    }
}