.app-editor{
        height: 89.5vh;
        overflow: hidden;
}
.editor-wap {
    flex: auto;
    padding: 5px;
    width: 85%;
    overflow-y: auto;
    overflow-x: hidden;
}
.editor-wap-empty {
    width: 95%;
    height: 70vh;
    border: 5px dashed gray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: gray;
    margin: 0 auto;
}

@media screen and (max-width : $editor-narrow-breakpoint) {
    .editor-wap {
        margin: 0 auto;
        flex: 0 1 auto;
        .wap-section{
            flex-direction: column !important;
            nav {
                flex-direction: row !important;
                justify-content: space-between !important;
            }
        }
    }
}

@media screen and (max-width : $editor-mobile-breakpoint) {
    .editor-wap {
        margin: 0 auto;
        flex: 0 1 auto;
        .wap-section{
            flex-direction: column !important;
            nav {
                flex-direction: column !important;
            }
            &:first-of-type {
                flex-direction: row;
            }
        }
    }
}
//     @media screen and (max-width : $mobile-breakpoint) {
//         border: 5px solid grey;
//     }
// }