.app-editor {
    height: 89.5vh;
    overflow: hidden;
}
.editor-wap {
    flex: auto;
    padding: 5px;
    width: 85%;
    overflow-y: auto;
    overflow-x: hidden;
}
.editor-wap-empty {
    width: 95%;
    height: 70vh;
    border: 3px dashed #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: gray;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: $editor-narrow-breakpoint) {
    .editor-wap {
        margin: 0 auto;
        flex: 0 1 auto;
        .wap-section {
            flex-direction: column !important;
            nav {
                flex-direction: row !important;
                justify-content: space-between !important;
            }
        }
    }
}

@media screen and (max-width: $editor-mobile-breakpoint) {
    .editor-wap {
        margin: 0 auto;
        flex: 0 1 auto;
        .wap-section {
            flex-direction: column !important;
            nav {
                flex-direction: column !important;
            }
            &.wap-header {
                flex-direction: row !important;
            }
        }
    }
}

.editor-wap-size {
    min-height: 100%;
    &.large-view {
        flex: 0 1 auto;
        padding: 5px;
        margin: 0 auto;
    }
    &.medium-view {
        flex: 0 1 auto;
        padding: 5px;
        max-width: 768px;
        margin: 0 auto;
        .wap-section {
            flex-direction: column !important;
            nav {
                flex-direction: row !important;
                justify-content: space-between !important;
            }
        }
    }
    &.small-view {
        flex: 0 1 auto;
        padding: 5px;
        max-width: 425px;
        margin: 0 auto;
        .wap-section {
            flex-direction: column !important;
            nav {
                flex-direction: column !important;
            }
            &.wap-header {
                flex-direction: column !important;
            }
        }
    }
}
.editor-wap-size {
    min-height: 100%;
}
//     @media screen and (max-width : $mobile-breakpoint) {
//         border: 5px solid grey;
//     }
// }
