.editor-side-bar {
    
  position: relative;
  background-color: $clr7;
  width: 15%;
  min-width: 16rem;
  align-items: center;
  padding: 10px;
  height: 80vh;
  box-shadow: 0 3px 6px rgba(0, 0, 100, 0.15);
  border-radius: 1rem;
  margin: 0 8px;
 
  .side-bar-nav {
    align-items: center;
    width: 100%;
    button {
      border: none;
      background-color: inherit;
      flex: auto;
      min-height: 45px;
      font-size: em(30px);
      cursor: pointer;
      &:hover {
        border-bottom: 2px solid $clr4;
      }
    }
  }
  .editor-sections-list{
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }
  .btn-publish {
    position: absolute;
    bottom: 0;
    margin-bottom:rem(10px) ;
    cursor: pointer;
    border-radius: em(10px);
    background-color: inherit;
    font-size: em(30px);
    border: 2px solid $clr5;
    width: 200px;
    &:hover {
      background-color: $clr5;
      color: $clr7;
    }
  }
}

.add-cmp-list {
  padding: em(10px);
  & > * {
    width: 170px;
    margin-bottom: em(10px);
    padding: em(12px);
    color: white;
    border-radius: em(5px);
    box-shadow: 0 0 3px 0;
    background-color: #34495e;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.img-sample {
  width: 90%;
  border: 2px solid #34495e;
  border-radius: 10px;
  transition: .5s;
  &:hover {
    cursor: pointer;
    width: 92%;
  }
}
